In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving Book2n.xlsx to Book2n.xlsx

In [ ]:
data=pd.read_excel('Book2n.xlsx')

In [ ]:
data.head(20)

    conc (ppm)  ad dose(g/L)  ph value  ...  real conc    removal  %removal
0           10           1.0         6  ...   0.789655  29.210345   97.270448
1           10           1.0         6  ...   0.527586  29.472414   98.143138
2           10           1.0         6  ...   0.524138  29.475862   98.154621
3           10           1.0         6  ...   0.482759  29.517241   98.292414
4           10           1.0         6  ...   0.379310  29.620690   98.636897
5           20           1.0         6  ...   0.855172  29.144828   97.052276
6           20           1.0         6  ...   0.617241  29.382759   97.844586
7           20           1.0         6  ...   0.503448  29.496552   98.223517
8           20           1.0         6  ...   0.437931  29.562069   98.441690
9           20           1.0         6  ...   0.382759  29.617241   98.625414
10          30           1.0         6  ...   8.810345  21.189655   70.561552
11          30           1.0         6  ...   3.034483  26.965517   89.795172
12          30           1.0         6  ...   1.720690  28.279310   94.170103
13          30           1.0         6  ...   0.955172  29.044828   96.719276
14          30           1.0         6  ...   0.600000  29.400000   97.902000
15          60           1.0         6  ...  28.468966   1.531034    5.098345
16          60           1.0         6  ...  22.324138   7.675862   25.560621
17          60           1.0         6  ...  20.913793   9.086207   30.257069
18          60           1.0         6  ...  15.389655  14.610345   48.652448
19          60           1.0         6  ...   3.313793  26.686207   88.865069

[20 rows x 10 columns]

In [ ]:
pip install ctgan

Collecting ctgan
  Downloading ctgan-0.5.0-py2.py3-none-any.whl (21 kB)
Requirement already satisfied: packaging<22,>=20 in /usr/local/lib/python3.7/dist-packages (from ctgan) (21.3)
Requirement already satisfied: scikit-learn<2,>=0.24 in /usr/local/lib/python3.7/dist-packages (from ctgan) (1.0.2)
Requirement already satisfied: torch<2,>=1.8.0 in /usr/local/lib/python3.7/dist-packages (from ctgan) (1.10.0+cu111)
Collecting numpy<2,>=1.20.0
  Downloading numpy-1.21.5-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
     |████████████████████████████████| 15.7 MB 7.1 MB/s
Requirement already satisfied: torchvision<1,>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from ctgan) (0.11.1+cu111)
Collecting rdt<0.7,>=0.6.1
  Downloading rdt-0.6.3-py2.py3-none-any.whl (45 kB)
     |████████████████████████████████| 45 kB 3.6 MB/s
Requirement already satisfied: pandas<2,>=1.1.3 in /usr/local/lib/python3.7/dist-packages (from ctgan) (1.3.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging<22,>=20->ctgan) (3.0.7)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2,>=1.1.3->ctgan) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2,>=1.1.3->ctgan) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas<2,>=1.1.3->ctgan) (1.15.0)
Collecting psutil<6,>=5.7
  Downloading psutil-5.9.0-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (280 kB)
     |████████████████████████████████| 280 kB 46.6 MB/s
Collecting pyyaml<6,>=5.4.1
  Downloading PyYAML-5.4.1-cp37-cp37m-manylinux1_x86_64.whl (636 kB)
     |████████████████████████████████| 636 kB 29.1 MB/s
Collecting scipy<2,>=1.5.4
  Downloading scipy-1.7.3-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (38.1 MB)
     |████████████████████████████████| 38.1 MB 1.3 MB/s
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<2,>=0.24->ctgan) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<2,>=0.24->ctgan) (1.1.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch<2,>=1.8.0->ctgan) (3.10.0.2)
Requirement already satisfied: pillow!=8.3.0,>=5.3.0 in /usr/local/lib/python3.7/dist-packages (from torchvision<1,>=0.9.0->ctgan) (7.1.2)
Installing collected packages: numpy, scipy, pyyaml, psutil, rdt, ctgan
  Attempting uninstall: numpy
    Found existing installation: numpy 1.19.5
    Uninstalling numpy-1.19.5:
      Successfully uninstalled numpy-1.19.5
  Attempting uninstall: scipy
    Found existing installation: scipy 1.4.1
    Uninstalling scipy-1.4.1:
      Successfully uninstalled scipy-1.4.1
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
  Attempting uninstall: psutil
    Found existing installation: psutil 5.4.8
    Uninstalling psutil-5.4.8:
      Successfully uninstalled psutil-5.4.8
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
yellowbrick 1.3.post1 requires numpy<1.20,>=1.16.0, but you have numpy 1.21.5 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed ctgan-0.5.0 numpy-1.21.5 psutil-5.9.0 pyyaml-5.4.1 rdt-0.6.3 scipy-1.7.3

In [ ]:
from ctgan import CTGANSynthesizer

In [ ]:
data.columns

Index(['conc (ppm)', 'ad dose(g/L)', 'ph value', 'Temperature(⁰C)', 'time',
       'absorbance', 'conc', 'real conc', 'removal', '%removal  '],
      dtype='object')

In [ ]:
discrete_columns = ['conc (ppm)', 'ad dose(g/L)', 'ph value', 'Temperature(⁰C)', 'time',
       'absorbance', 'conc', 'real conc', 'removal', '%removal  ']

In [ ]:
ctgan = CTGANSynthesizer(epochs=10)
ctgan.fit(data, discrete_columns)

In [ ]:
samples = ctgan.sample(5000)

In [ ]:
samples

      conc (ppm)  ad dose(g/L)  ph value  ...  real conc    removal  %removal
0             20           1.5         6  ...   0.568966  29.310345   88.865069
1             60           0.5         6  ...   3.034483  26.872414   98.292414
2             30           2.0        10  ...   3.313793  29.896552   99.084724
3             90           0.5         4  ...   0.220690  29.562069   98.143138
4             30           1.0         6  ...   1.755172  10.724138   98.441690
...          ...           ...       ...  ...        ...        ...         ...
4995          20           1.0         2  ...  19.275862  28.279310   97.603448
4996          60           1.5         6  ...   0.379310  29.131034    5.213172
4997          10           1.5         4  ...   4.041379  29.689655   98.292414
4998          20           1.5         8  ...   0.868966  27.331034   97.442690
4999          30           0.5         6  ...   1.031034  29.755172   99.337345

[5000 rows x 10 columns]

In [ ]:
samples.describe()

        conc (ppm)  ad dose(g/L)  ...      removal   %removal
count  5000.000000   5000.000000  ...  5000.000000  5000.000000
mean     39.722000      1.185300  ...    25.530226    84.284762
std      27.661087      0.504544  ...     7.266005    24.952505
min      10.000000      0.500000  ...     0.862069     2.870690
25%      20.000000      1.000000  ...    25.958621    85.523586
50%      30.000000      1.000000  ...    29.044828    96.719276
75%      60.000000      1.500000  ...    29.444828    98.005345
max      90.000000      2.000000  ...    30.000000    99.900000

[8 rows x 10 columns]

In [ ]:
data.describe()

       conc (ppm)  ad dose(g/L)    ph value  ...   real conc     removal  %removal
count  108.000000    108.000000  108.000000  ...  108.000000  108.000000  108.000000
mean    33.333333      1.055556    6.000000  ...    8.840230   21.715326   72.312034
std     16.406062      0.284600    1.497662  ...   14.124958   11.379129   37.892499
min     10.000000      0.500000    2.000000  ...    0.000000   -4.724138  -15.731379
25%     30.000000      1.000000    6.000000  ...    0.612931   16.625000   55.361250
50%     30.000000      1.000000    6.000000  ...    1.403448   28.596552   95.226517
75%     30.000000      1.000000    6.000000  ...   13.208621   29.387069   97.858940
max     90.000000      2.000000   10.000000  ...   90.000000   30.000000   99.900000

[8 rows x 10 columns]

In [ ]:
samples.to_excel('ctgan5000n.xlsx')