In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [32]:
data2=pd.read_excel("/content/drive/My Drive/Book1.xlsx")

In [4]:
data=pd.read_excel("/content/drive/My Drive/Book2n.xlsx")

In [33]:
data2

    Tar.(ppm)  Adose(g/L)  pH  Temperature  time
0          10        2.00   2         25.0     0
1          90        2.00  10         40.0   120
2          10        0.50   2         40.0     0
3          50        1.25   6         32.5    60
4          90        2.00   2         25.0   120
5          10        2.00  10         25.0   120
6          10        0.50  10         25.0     0
7          50        1.25  14         32.5    60
8          90        2.00  10         25.0     0
9          10        0.50  10         40.0   120
10         50        1.25   6         47.5    60
11         50        1.25   6         17.5    60
12         50        2.75   6         32.5    60
13         90        0.50  10         25.0   120
14         50        1.25   6         32.5    60
15        130        1.25   6         32.5    60
16         10        0.50   2         25.0   120
17         90        0.50   2         25.0     0
18         50        1.25   6         32.5    60
19         50        1.25   6         32.5   180
20         50        1.25   6         32.5    60
21         10        2.00  10         40.0     0
22         90        2.00   2         40.0     0
23         10        2.00   2         40.0   120
24         50        1.25   6         32.5    60
25         50        1.25   6         32.5    60
26         90        0.50   2         40.0   120
27         90        0.50  10         40.0     0

In [5]:
dd=data.drop(axis=0,index=[6,20,87,53,66])

In [6]:
ddtest=data.loc[[6,20,87,53,66]]

In [25]:
y_train=dd.iloc[:,-4]
x_train=dd.iloc[:,0:5]

In [26]:
y_test=ddtest.iloc[:,-4]
x_test=ddtest.iloc[:,0:5]

In [ ]:
x_train.shape[1]

5

In [9]:
pip install keras-tuner

Collecting keras-tuner
  Downloading keras_tuner-1.1.0-py3-none-any.whl (98 kB)
     |████████████████████████████████| 98 kB 2.9 MB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.4.1)
Collecting kt-legacy
  Downloading kt_legacy-1.0.4-py3-none-any.whl (9.6 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.21.5)
Requirement already satisfied: tensorboard in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.8.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (5.5.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (21.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.23.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (57.4.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.7.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (2.6.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.4.2)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.8.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (1.0.18)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.8.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->keras-tuner) (0.2.5)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->keras-tuner) (1.15.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->keras-tuner) (3.0.7)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->keras-tuner) (0.7.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2.10)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.6.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.8.1)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.0.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.35.0)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.37.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.3.6)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.44.0)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.0.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.4.6)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.17.3)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (4.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (4.2.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard->keras-tuner) (4.11.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras-tuner) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras-tuner) (3.10.0.2)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (3.2.0)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.1.0 kt-legacy-1.0.4

In [10]:
from keras.models import Sequential
import kerastuner
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
from kerastuner.tuners import RandomSearch

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: `import kerastuner` is deprecated, please use `import keras_tuner`.

In [11]:
from tensorflow.keras import layers

In [27]:
model = Sequential()
model.add(Dense(368, activation= 'relu', input_dim= x_train.shape[1]))
model.add(Dense(144, activation= 'relu'))
model.add(Dense(144, activation= 'relu'))
model.add(Dense(32, activation= 'relu'))
model.add(Dense(units=1, activation='linear'))
              
model.compile(optimizer = 'adam', loss = 'mean_absolute_error', metrics = ['mean_absolute_error'])

model.fit(x_train, y_train, validation_data=(x_test, y_test), epochs=20)

y_pred = model.predict(x_test)

Epoch 1/20
3/3 [==============================] - 1s 72ms/step - loss: 4.7307 - mean_absolute_error: 4.7307 - val_loss: 5.4685 - val_mean_absolute_error: 5.4685
Epoch 2/20
3/3 [==============================] - 0s 12ms/step - loss: 3.5178 - mean_absolute_error: 3.5178 - val_loss: 5.0022 - val_mean_absolute_error: 5.0022
Epoch 3/20
3/3 [==============================] - 0s 12ms/step - loss: 2.9899 - mean_absolute_error: 2.9899 - val_loss: 4.6402 - val_mean_absolute_error: 4.6402
Epoch 4/20
3/3 [==============================] - 0s 12ms/step - loss: 2.7011 - mean_absolute_error: 2.7011 - val_loss: 4.0450 - val_mean_absolute_error: 4.0450
Epoch 5/20
3/3 [==============================] - 0s 15ms/step - loss: 2.5594 - mean_absolute_error: 2.5594 - val_loss: 3.4338 - val_mean_absolute_error: 3.4338
Epoch 6/20
3/3 [==============================] - 0s 13ms/step - loss: 2.4117 - mean_absolute_error: 2.4117 - val_loss: 3.0050 - val_mean_absolute_error: 3.0050
Epoch 7/20
3/3 [==============================] - 0s 22ms/step - loss: 2.2938 - mean_absolute_error: 2.2938 - val_loss: 2.4972 - val_mean_absolute_error: 2.4972
Epoch 8/20
3/3 [==============================] - 0s 12ms/step - loss: 2.0698 - mean_absolute_error: 2.0698 - val_loss: 1.9744 - val_mean_absolute_error: 1.9744
Epoch 9/20
3/3 [==============================] - 0s 13ms/step - loss: 2.0166 - mean_absolute_error: 2.0166 - val_loss: 2.2068 - val_mean_absolute_error: 2.2068
Epoch 10/20
3/3 [==============================] - 0s 13ms/step - loss: 1.9801 - mean_absolute_error: 1.9801 - val_loss: 2.0285 - val_mean_absolute_error: 2.0285
Epoch 11/20
3/3 [==============================] - 0s 14ms/step - loss: 1.9765 - mean_absolute_error: 1.9765 - val_loss: 1.4934 - val_mean_absolute_error: 1.4934
Epoch 12/20
3/3 [==============================] - 0s 13ms/step - loss: 2.1084 - mean_absolute_error: 2.1084 - val_loss: 1.4312 - val_mean_absolute_error: 1.4312
Epoch 13/20
3/3 [==============================] - 0s 12ms/step - loss: 2.2994 - mean_absolute_error: 2.2994 - val_loss: 1.8651 - val_mean_absolute_error: 1.8651
Epoch 14/20
3/3 [==============================] - 0s 12ms/step - loss: 2.0300 - mean_absolute_error: 2.0300 - val_loss: 1.9479 - val_mean_absolute_error: 1.9479
Epoch 15/20
3/3 [==============================] - 0s 14ms/step - loss: 2.1277 - mean_absolute_error: 2.1277 - val_loss: 2.0085 - val_mean_absolute_error: 2.0085
Epoch 16/20
3/3 [==============================] - 0s 12ms/step - loss: 2.0150 - mean_absolute_error: 2.0150 - val_loss: 1.7463 - val_mean_absolute_error: 1.7463
Epoch 17/20
3/3 [==============================] - 0s 13ms/step - loss: 2.1796 - mean_absolute_error: 2.1796 - val_loss: 1.7986 - val_mean_absolute_error: 1.7986
Epoch 18/20
3/3 [==============================] - 0s 22ms/step - loss: 1.9941 - mean_absolute_error: 1.9941 - val_loss: 1.7942 - val_mean_absolute_error: 1.7942
Epoch 19/20
3/3 [==============================] - 0s 12ms/step - loss: 2.0611 - mean_absolute_error: 2.0611 - val_loss: 1.8771 - val_mean_absolute_error: 1.8771
Epoch 20/20
3/3 [==============================] - 0s 13ms/step - loss: 1.9109 - mean_absolute_error: 1.9109 - val_loss: 1.6951 - val_mean_absolute_error: 1.6951

In [28]:
model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 368)               2208

 dense_19 (Dense)            (None, 144)               53136

 dense_20 (Dense)            (None, 144)               20880

 dense_21 (Dense)            (None, 32)                4640

 dense_22 (Dense)            (None, 1)                 33

=================================================================
Total params: 80,897
Trainable params: 80,897
Non-trainable params: 0
_________________________________________________________________

In [29]:
ypred=model.predict(x_test)

In [ ]:
ypred

array([[100.27985 ],
       [ 13.045533],
       [119.572235],
       [ 94.72499 ],
       [ 97.49235 ]], dtype=float32)

In [ ]:
y_test

6     97.844586
20     5.213172
87    85.523586
53    98.418724
66    95.054276
Name: %removal  , dtype: float64

In [ ]:
x_test

    (ppm)  ad_dose(g/L)  ph_value  Temperature(⁰C)  time
6      20           1.0         6               30    30
20     90           1.0         6               30    15
87     30           1.0         6               40    30
53     30           1.0         4               30    45
66     30           1.0        10               30    15

In [ ]:
ypred

array([[100.27985 ],
       [ 13.045533],
       [119.572235],
       [ 94.72499 ],
       [ 97.49235 ]], dtype=float32)

In [34]:
x2=data2.iloc[:,0:5]

In [35]:
x2

    Tar.(ppm)  Adose(g/L)  pH  Temperature  time
0          10        2.00   2         25.0     0
1          90        2.00  10         40.0   120
2          10        0.50   2         40.0     0
3          50        1.25   6         32.5    60
4          90        2.00   2         25.0   120
5          10        2.00  10         25.0   120
6          10        0.50  10         25.0     0
7          50        1.25  14         32.5    60
8          90        2.00  10         25.0     0
9          10        0.50  10         40.0   120
10         50        1.25   6         47.5    60
11         50        1.25   6         17.5    60
12         50        2.75   6         32.5    60
13         90        0.50  10         25.0   120
14         50        1.25   6         32.5    60
15        130        1.25   6         32.5    60
16         10        0.50   2         25.0   120
17         90        0.50   2         25.0     0
18         50        1.25   6         32.5    60
19         50        1.25   6         32.5   180
20         50        1.25   6         32.5    60
21         10        2.00  10         40.0     0
22         90        2.00   2         40.0     0
23         10        2.00   2         40.0   120
24         50        1.25   6         32.5    60
25         50        1.25   6         32.5    60
26         90        0.50   2         40.0   120
27         90        0.50  10         40.0     0

In [36]:
r=model.predict(x2)

In [37]:
r

array([[ 0.7537788 ],
       [11.577742  ],
       [ 1.1939484 ],
       [ 5.041302  ],
       [14.137435  ],
       [-0.22101204],
       [ 0.66283655],
       [ 4.881248  ],
       [25.378147  ],
       [ 0.3589705 ],
       [ 2.7385733 ],
       [ 8.27961   ],
       [ 4.7186265 ],
       [14.258853  ],
       [ 5.041302  ],
       [35.25561   ],
       [ 0.0965515 ],
       [26.066772  ],
       [ 5.041302  ],
       [ 1.5750366 ],
       [ 5.041302  ],
       [ 0.91289383],
       [24.152754  ],
       [ 0.50388175],
       [ 5.041302  ],
       [ 5.041302  ],
       [11.921277  ],
       [23.676468  ]], dtype=float32)

AttributeError: ignored

In [ ]:
yrsmpred

array([[nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan]], dtype=float32)

In [ ]:
data2['%removal']=yrsmpred

In [ ]:
data2

    Tartazene_conc  Adsorbent_dose(g/L)  pH   time  %removal
0               90                 2.00   2  120.0       NaN
1              130                 1.25   6   67.5       NaN
2               50                 1.25   6  -37.5       NaN
3               90                 0.50  10   15.0       NaN
4               90                 0.50   2   15.0       NaN
5               50                 2.75   6   67.5       NaN
6               90                 2.00  10  120.0       NaN
7               50                 1.25   6   67.5       NaN
8               10                 2.00   2  120.0       NaN
9               90                 0.50  10  120.0       NaN
10              50                 1.25   6  172.5       NaN
11              90                 2.00   2   15.0       NaN
12              50                 1.25   6   67.5       NaN
13              50                -0.25   6   67.5       NaN
14              10                 0.50  10  120.0       NaN
15              50                 1.25  14   67.5       NaN
16              90                 2.00  10   15.0       NaN
17              10                 0.50   2  120.0       NaN
18              50                 1.25   6   67.5       NaN
19             -30                 1.25   6   67.5       NaN
20              10                 2.00  10   15.0       NaN
21              90                 0.50   2  120.0       NaN
22              10                 0.50  10   15.0       NaN
23              10                 0.50   2   15.0       NaN
24              10                 2.00   2   15.0       NaN
25              10                 2.00  10  120.0       NaN
26              50                 1.25   6   67.5       NaN
27              50                 1.25  -2   67.5       NaN