In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving chem data2hj.xlsx to chem data2hj.xlsx

In [ ]:
data=pd.read_excel('chem data2hj.xlsx')

In [ ]:
data

    Conc. Of Tartrazine(mg/L)  Ads Dose(g/L)  ...  Removal (mg/L)   % Removal
0                          10              1  ...           5.865        58.65
1                          10              1  ...           9.771        97.71
2                          10              1  ...           9.847        98.47
3                          10              1  ...           9.848        98.48
4                          10              1  ...           9.860        98.60
5                          10              1  ...           9.889        98.89
6                          20              1  ...           2.145        21.45
7                          20              1  ...           9.752        97.52
8                          20              1  ...           9.821        98.21
9                          20              1  ...           9.854        98.54
10                         20              1  ...           9.873        98.73
11                         20              1  ...           9.889        98.89
12                         20              1  ...           0.158         1.58
13                         20              1  ...           7.445        74.45
14                         20              1  ...           9.120        91.20
15                         20              1  ...           9.501        95.01
16                         20              1  ...           9.976        99.76
17                         20              1  ...          10.000       100.00
18                         60              1  ...           0.076         0.76
19                         60              1  ...           0.182         1.82
20                         60              1  ...           1.257        12.57
21                         60              1  ...           3.425        34.25
22                         60              1  ...           3.935        39.35
23                         60              1  ...           5.537        55.37
24                         90              1  ...           0.008         0.08
25                         90              1  ...          -0.687        -6.87
26                         90              1  ...           1.643        16.43
27                         90              1  ...           3.352        33.52
28                         90              1  ...           3.476        34.76
29                         90              1  ...           4.410        44.10

[30 rows x 7 columns]

In [ ]:
x=data.iloc[:,0:3]
y=data.iloc[:,-1]

In [ ]:
y

0      58.65
1      97.71
2      98.47
3      98.48
4      98.60
5      98.89
6      21.45
7      97.52
8      98.21
9      98.54
10     98.73
11     98.89
12      1.58
13     74.45
14     91.20
15     95.01
16     99.76
17    100.00
18      0.76
19      1.82
20     12.57
21     34.25
22     39.35
23     55.37
24      0.08
25     -6.87
26     16.43
27     33.52
28     34.76
29     44.10
Name:  % Removal , dtype: float64

In [ ]:
x

    Conc. Of Tartrazine(mg/L)  Ads Dose(g/L)  Time(min)
0                          10              1          0
1                          10              1         15
2                          10              1         30
3                          10              1         45
4                          10              1         60
5                          10              1        120
6                          20              1          0
7                          20              1         15
8                          20              1         30
9                          20              1         45
10                         20              1         60
11                         20              1        120
12                         20              1          0
13                         20              1         15
14                         20              1         30
15                         20              1         45
16                         20              1         60
17                         20              1        120
18                         60              1          0
19                         60              1         15
20                         60              1         30
21                         60              1         45
22                         60              1         60
23                         60              1        120
24                         90              1          0
25                         90              1         15
26                         90              1         30
27                         90              1         45
28                         90              1         60
29                         90              1        120

In [ ]:
import tensorflow as tf

In [ ]:
pip install keras-tuner

Collecting keras-tuner
  Downloading keras_tuner-1.1.0-py3-none-any.whl (98 kB)
     |████████████████████████████████| 98 kB 3.5 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.19.5)
Requirement already satisfied: tensorboard in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.7.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.23.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (5.5.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.4.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (21.3)
Collecting kt-legacy
  Downloading kt_legacy-1.0.4-py3-none-any.whl (9.6 kB)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.8.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.7.5)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.8.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (2.6.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (5.1.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.4.2)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (1.0.18)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (57.4.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->keras-tuner) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->keras-tuner) (0.2.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->keras-tuner) (3.0.6)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->keras-tuner) (0.7.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (1.24.3)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.8.0)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.12.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.35.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.3.6)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.37.0)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.42.0)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.17.3)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.4.6)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.6.1)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.0.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (4.8)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (4.2.4)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (1.3.0)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard->keras-tuner) (4.8.2)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras-tuner) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras-tuner) (3.6.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (3.1.1)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.1.0 kt-legacy-1.0.4

In [ ]:
import kerastuner
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
from kerastuner.tuners import RandomSearch

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: `import kerastuner` is deprecated, please use `import keras_tuner`.
  """Entry point for launching an IPython kernel.

In [ ]:
from sklearn.model_selection import train_test_split as tts

In [ ]:
Xtrain,Xtest,ytrain,ytest=tts(x,y,test_size=0.1,random_state=42)

In [ ]:
def model(hp):
  build_model=Sequential()
  build_model.add(Dense(units=hp.Int('n',min_value=16,max_value=512,step=16),activation='relu',input_dim=Xtrain.shape[1]))
  for i in range(hp.Int('nlayers',min_value=2,max_value=10)):
    build_model.add(Dense(units=hp.Int('units',min_value=16,max_value=256,step=16),activation='relu'))
  build_model.add(Dense(units=1,activation='linear'))
  build_model.compile(optimizer=Adam(hp.Choice('lr',[1e-2,1e-3,1e-4])),loss='mean_absolute_error',metrics=['mean_absolute_error'])
  return build_model

In [ ]:
tuner=RandomSearch(model,objective='val_mean_absolute_error',max_trials=15,executions_per_trial=3,directory='output',project_name='chemann')

In [ ]:
tuner.search(Xtrain,ytrain,epochs=50,validation_data=(Xtest,ytest),batch_size=2)

Trial 15 Complete [00h 00m 30s]
val_mean_absolute_error: 10.920831521352133

Best val_mean_absolute_error So Far: 5.171207427978516
Total elapsed time: 00h 07m 03s
INFO:tensorflow:Oracle triggered exit

In [ ]:
best_model=tuner.get_best_models(num_models=1)[0]

In [ ]:
best_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 304)               1216

 dense_1 (Dense)             (None, 80)                24400

 dense_2 (Dense)             (None, 80)                6480

 dense_3 (Dense)             (None, 80)                6480

 dense_4 (Dense)             (None, 80)                6480

 dense_5 (Dense)             (None, 80)                6480

 dense_6 (Dense)             (None, 80)                6480

 dense_7 (Dense)             (None, 80)                6480

 dense_8 (Dense)             (None, 1)                 81

=================================================================
Total params: 64,577
Trainable params: 64,577
Non-trainable params: 0
_________________________________________________________________

In [ ]:
ypred=best_model.predict(Xtest)

In [ ]:
ypred

array([[35.27872 ],
       [95.8357  ],
       [57.427452]], dtype=float32)

In [ ]:
ytest

27    33.52
15    95.01
23    55.37
Name:  % Removal , dtype: float64

In [ ]:
from sklearn.metrics import mean_absolute_error as mae

In [ ]:
print(mae(ytest,ypred))

1.5472913106282533